<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Miss+Fajardose&family=Pacifico&family=Sacramento&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
                <div class="logo">
                    <p>Forum</p>
                </div>

                <div class="search">
                    <input type="text" placeholder="Search..." />
                </div>

                <div class="user">
                    <a href="/login" class="auth-link login-link">Login</a>
                    <a href="/register" class="auth-link register-link">Register</a>
                </div>
        </header>
        <div class="main">
            <nav class="sidebar">
            </nav>      
            <section class="main-content">
                <p class="form-subtitle">Posts</p>    
            </section>
        </div>
       

    </div>
</body>
</html>