<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=DM+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Forum</title>
</head>
<body>
    <div class="container">
        <header>
            {{template "header" .}}
        </header>

        <div class="main">
            <nav class="sidebar">
                {{template "ListCategorie" .}}
            </nav>

            <section class="main-content">
                {{template "PostContent" .}}
            </section>
        </div>
    </div>

  
</body>
</html>