<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create an account</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="auth-container">
      <form action="/do-login" method="POST" class="auth-form">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="kaoutar@gmail.com"
            required
            value="{{.Email}}"
          />
          {{if .EmailError}}<span class="error">{{.EmailError}}</span>{{end}}
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            required
            placeholder="********"
            minlength="6"
          />
          {{if .PasswordError}}<span class="error">{{.PasswordError}}</span
          >{{end}}
        </div>

        <button type="submit" class="btn-primary">log in</button>
      </form>

      <div class="auth-footer">
        <p>create an account? <a href="/register">Sign in</a></p>
      </div>
    </div>
  </body>
</html>
